@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    color: #333;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-image:linear-gradient( 
      rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7) ), 
    url(images/bg.jpg); 
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;}

    .menu{
position: absolute;
top: 0;
left: 0;
right:0;
display: flex;
align-items: center;
justify-content: space-between;}

.menu .logo{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.menu navbar ul li a{
   font-size: 18px;
   padding: 20px;
   color: #fff;
   display: block;
   font-weight: 600;
}

.menu navbar ul li a:hover {
    color: #ff6347;
    
}
#menu-icono {
    width: 25px;
    
}
.menu label {
    cursor: pointer;
    
    display: none;    
}

.header-content {
    text-align: center;

}

.header-content h1 {
    color: #fff;
    font-size: 48px;
    line-height: 80px;
    margin-bottom: 75px;
    text-align: center;
    text-transform:uppercase ;
}  

.header-content p {
    color: #5c5656;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 20px;

}   

.btn-1 {
    display: inline-block;
    padding: 12px 30px;
    font-size: 18px;
    color: #fff;
    background-color: #ff6347;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.coffee-section {
    padding: 10px 0 ;
    text-align: center;
    background: color #e1e3e6;
    position: relative;
}

.coffee-content {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.coffee-section h2 {
    font-size: 55px;
    margin-bottom: 20px;
   line-height: 70px;
   color: #3333 ;
   padding: 0 250px ;
   margin-bottom: 15;
    
}

.txt-p {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
    padding: 0 200px ;
}

.coffe-group {
    display: flex;
    justify-content: space-between;
    margin-bottom:50 ;
    
}   

.coffe-1 img  {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}
.coffe-img {
    position: absolute;
    top: 0;
right: 0;

}

.coffee-1 h3    {
    font-size: 24px;
    margin: 15px 0;
    color: #333;
}

.services-section {
    text-align: center; 
   background-image:linear-gradient(
    rgba(0,0,0,0.7)
    rgba(0,0,0,0.7)),
    url(images/bg3.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    padding:100px 0 ;
}
.services-content {
    display: flex;
    text-align: center;
    justify-content: center;
    color: azure;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
}   

.services-content h2 {
    font-size: 55px;
    margin-bottom: 20px;
   line-height: 70px;
   color: #fff ;
   padding: 0 250px ;
   margin-bottom: 50px;
    
}   
.service-p {
    font-size: 18px;
    color: #ddd;
    margin-bottom: 40px;
    padding: 0 100px ;
} 
.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px ; 
}
.service-1  {
    padding: 0 100px ;  
}
.service-1 img  {
    width: 25px;
    margin-bottom: 15px;
}
